<mat-toolbar color="primary">
  <button mat-button [routerLink]="''">
    <mat-icon>home</mat-icon>
    {{ 'catalog' | translate }}
  </button>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="userActionsMenu" *ngIf="isAuthenticated">
    <mat-icon>account_box</mat-icon>
      {{ userEmail }}
  </button>
  <mat-menu #userActionsMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      {{'log-out' | translate }}
    </button>
  </mat-menu>
  <button mat-button (click)="login()" *ngIf="!isAuthenticated">
    {{'log-in' | translate}}
    <mat-icon>login</mat-icon>
  </button>
  <button mat-button (click)="logout()" *ngIf="isAuthenticated">
    <mat-icon>logout</mat-icon>
    {{'log-out' | translate }}
  </button>
</mat-toolbar>
