/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.card-row {
    width: 100%;
}

.email-filter {
  width: calc(100% - 130px);
}

mat-card {
  width: 100%;
  max-width: 520px;
  margin-bottom: 10px;
}

mat-card.child-card:not([class*=mat-elevation-z]) {
    @include mat.elevation(3);
}

mat-card-title {
    margin-bottom: 12px !important;
}

div.child-card-spacer {
    margin-top: 15px;
}

.mat-mdc-card:not([class*=mat-elevation-z]) {
    @include mat.elevation(4);
}

.right {
    float: right;
}

.center {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.action-spinner {
    margin: 6px;
    float: right;
}

.grid-spinner {
    margin: 6px;
    float: left;
}

.errors-container {
    margin-bottom: 10px;
    border: 1px solid red;
}

.single-error-message {
    padding: 5px;
}

:root {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: red,
  ));
}

.back-button {
    float: right;
    margin-top: 12px;
}

.standard-top-indent {
  margin-top: 5px
}

mat-paginator {
  margin-top: 5px;
}

.mat-column-Edit {
  flex: none;
  width: 80px;
}

.mat-column-Delete {
  flex: none;
  width: 80px;
}
