version: '3.8'
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - MSSQL_SA_PASSWORD=E*AmPleP@ssw0rd
      - ACCEPT_EULA=Y
      - MSSQL_PID=Express  
    ports:
      - "2433:1433"
    volumes:
      - eshop-api-data-wproxy:/var/opt/mssql

  catalog-api:
    image: ${DOCKER_REGISTRY-}eshop.catalog.api:${TAG:-latest}
    build:
      context: eshop-api/Catalog/
      dockerfile: src/EShop.Catalog.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__catalogDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.catalog.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - generatedItemPictureUriHost=/catalog
      - clients='https://${DNS_NAME_OR_IP}:${CLIENT_PORTAL_PORT},https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}'
      - EmployeeJWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}/authorize
      - ClientJWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${CLIENT_PORTAL_PORT}/authorize
    depends_on:
      - sqlserver
  
  client-authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.client.authorizationserver:${TAG:-latest}
    build:
      context: eshop-api/Client/
      dockerfile: src/EShop.Client.AuthorizationServer/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__clientDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.client.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - clients__0__clientOrigin=https://${DNS_NAME_OR_IP}:${CLIENT_PORTAL_PORT}
      - clients__0__clientId=client-portal
      - clients__0__displayName="public spa"
      - ASPNETCORE_APPL_PATH=authorize
    depends_on:
      - sqlserver

  client-portal:
    image: ${DOCKER_REGISTRY-}eshop.ui.clientportal:${TAG:-latest}
    build: 
      context: eshop-ui-client-portal
      dockerfile: Dockerfile
    depends_on:
      - catalog-api
      - client-authorizationserver
  
  nginx-client-portal-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-client-portal-proxy
    ports:
      - "${CLIENT_PORTAL_PORT}:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ${CERTIFICATES_PATH}:/etc/nginx/certs
      - ./nginx-proxy/nginx-client-portal.conf:/etc/nginx/nginx.conf
    depends_on:
     - client-authorizationserver

  employeemanagement-api:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.api:${TAG:-latest}
    build:
      context: eshop-api/EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__employeeDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.employee.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - clientOrigin=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}
      - JWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}/authorize
    depends_on:
      - sqlserver

  employeemanagement-authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.authorizationserver:${TAG:-latest}
    build:
      context: eshop-api/EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.AuthorizationServer/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__employeeDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.employee.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - clients__0__clientOrigin=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}
      - clients__0__clientId=employee-portal
      - clients__0__displayName="public spa"
      - ASPNETCORE_APPL_PATH=authorize
    depends_on:
      - sqlserver
      - employeemanagement-api

  employee-portal:
    image: ${DOCKER_REGISTRY-}eshop.ui.employeeportal:${TAG:-latest}
    build: 
      context: eshop-ui-employee-portal
      dockerfile: Dockerfile
    depends_on:
      - employeemanagement-api
      - employeemanagement-authorizationserver
      - catalog-api 
  
  nginx-employee-portal-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-employee-portal-proxy
    ports:
      - "${EMPLOYEE_PORTAL_PORT}:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ${CERTIFICATES_PATH}:/etc/nginx/certs
      - ./nginx-proxy/nginx-employee-portal.conf:/etc/nginx/nginx.conf
    depends_on:
     - client-authorizationserver

volumes:
  eshop-api-data-wproxy:
    external: false