version: '3.8'
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - MSSQL_SA_PASSWORD=E*AmPleP@ssw0rd
      - ACCEPT_EULA=Y
      - MSSQL_PID=Express  
    ports:
      - "2433:1433"
    volumes:
      - eshop-api-data-wproxy:/var/opt/mssql

  catalog-api:
    image: ${DOCKER_REGISTRY-}eshop.catalog.api:${TAG:-latest}
    build:
      context: eshop-api/Catalog/
      dockerfile: src/EShop.Catalog.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__catalogDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.catalog.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - generatedItemPictureUriHost=/catalog
      - clients='https://${DNS_NAME_OR_IP}:${CLIENT_PORTAL_PORT},https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}'
      - EmployeeJWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}/authorize
      - EmployeeJWTSettings__MetadataAddress=http://employeemanagement-authorizationserver/.well-known/openid-configuration
      - ClientJWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${CLIENT_PORTAL_PORT}/authorize
      - ClientJWTSettings__MetadataAddress=http://client-authorizationserver/.well-known/openid-configuration
    logging:
        driver: gelf
        options:
          gelf-address: "udp://127.0.0.1:12201"
          tag: catalog-api
    depends_on:
      - sqlserver
  
  client-authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.client.authorizationserver:${TAG:-latest}
    build:
      context: eshop-api/Client/
      dockerfile: src/EShop.Client.AuthorizationServer/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__clientDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.client.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - clients__0__clientOrigin=https://${DNS_NAME_OR_IP}:${CLIENT_PORTAL_PORT}
      - clients__0__clientId=client-portal
      - clients__0__displayName="public spa"
      - ASPNETCORE_APPL_PATH=authorize
    depends_on:
      - sqlserver

  client-portal:
    image: ${DOCKER_REGISTRY-}eshop.ui.clientportal:${TAG:-latest}
    build: 
      context: eshop-ui-client-portal
      dockerfile: Dockerfile
    depends_on:
      - catalog-api
      - client-authorizationserver
  
  client-portal-nginx-ingress:
    image: nginx:1.25.3
    container_name: client-portal-nginx-ingress
    ports:
      - "${CLIENT_PORTAL_PORT}:443"
    volumes:
      - ${CERTIFICATES_PATH}:/etc/nginx/certs
      - ./.ingress/nginx-client-portal.conf:/etc/nginx/nginx.conf
    logging:
        driver: gelf
        options:
          gelf-address: "udp://127.0.0.1:12201"
          tag: client-portal-nginx-ingress
    depends_on:
     - client-authorizationserver

  employeemanagement-api:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.api:${TAG:-latest}
    build:
      context: eshop-api/EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__employeeDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.employee.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - clientOrigin=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}
      - JWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}/authorize
      - JWTSettings__MetadataAddress=http://employeemanagement-authorizationserver/.well-known/openid-configuration
    logging:
        driver: gelf
        options:
          gelf-address: "udp://127.0.0.1:12201"
          tag: employeemanagement-api
    depends_on:
      - sqlserver

  employeemanagement-authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.authorizationserver:${TAG:-latest}
    build:
      context: eshop-api/EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.AuthorizationServer/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__employeeDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.employee.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - clients__0__clientOrigin=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}
      - clients__0__clientId=employee-portal
      - clients__0__displayName="public spa"
      - ASPNETCORE_APPL_PATH=authorize
    depends_on:
      - sqlserver
      - employeemanagement-api

  employee-portal:
    image: ${DOCKER_REGISTRY-}eshop.ui.employeeportal:${TAG:-latest}
    build: 
      context: eshop-ui-employee-portal
      dockerfile: Dockerfile
      args:
        - OAUTH_AUTHORIZATION_ENDPOINT_PATH=${OAUTH_AUTH_EMPOYEE_ENDPOINT_PATH}
        - OAUTH_CLIENT_ID=${OAUTH_EMPOYEE_APP_CLIENT_ID}
        - OAUTH_SCOPE=${OAUTH_EMPOYEE_SCOPE}
    depends_on:
      - employeemanagement-api
      - employeemanagement-authorizationserver
      - catalog-api 
  
  employee-portal-nginx-ingress:
    image: nginx:1.25.3
    container_name: employee-portal-nginx-ingress
    ports:
      - "${EMPLOYEE_PORTAL_PORT}:443"
    volumes:
      - ${CERTIFICATES_PATH}:/etc/nginx/certs
      - ./.ingress/nginx-employee-portal.conf:/etc/nginx/nginx.conf
    logging:
        driver: gelf
        options:
          gelf-address: "udp://127.0.0.1:12201"
          tag: employee-portal-nginx-ingress
    depends_on:
     - client-authorizationserver

  grafana:
    image: grafana/grafana:10.4.2
    volumes:
      - ./.docker-local-storage/grafana:/var/lib/grafana
      - ./.config/grafana/grafana-datasources-config.yaml:/etc/grafana/provisioning/datasources/datasource.yaml   
      - ./.config/grafana/dashboards:/var/lib/grafana/dashboards      
      - ./.config/grafana/dashboards-provisioning:/etc/grafana/provisioning/dashboards
    ports:
      - "3000:3000"

  loki:
    image: grafana/loki:2.9.4
    volumes:
      - ./.docker-local-storage/loki:/loki

  logstash-agent:
    image: grafana/logstash-output-loki:2.9.7
    volumes:
      - ./.config/logstash/logstash.conf:/etc/logstash/logstash.conf
    command: logstash -f /etc/logstash/logstash.conf   
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    depends_on:
      - loki
    ports:
      - 12201:12201/udp

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.1
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8080:8080

  prometheus:
    image: prom/prometheus:v2.52.0
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./.config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - 9090:9090
    depends_on:
      - cadvisor

volumes:
  eshop-api-data-wproxy:
    external: false