version: '3.8'
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - MSSQL_SA_PASSWORD=E*AmPleP@ssw0rd
      - ACCEPT_EULA=Y
      - MSSQL_PID=Express  
    ports:
      - "2433:1433"
    volumes:
      - eshop-api-data:/var/opt/mssql

  catalog-api:
    image: ${DOCKER_REGISTRY-}eshop.catalog.api:${TAG:-latest}
    build:
      context: eshop-api/Catalog/
      dockerfile: src/EShop.Catalog.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443
      - ConnectionStrings__catalogDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.catalog.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - generatedItemPictureUriHost=https://localhost:7208
      - EmployeeJWTSettings__Issuer=https://localhost:7272/
      - EmployeeJWTSettings__MetadataAddress=http://employeemanagement-authorizationserver/.well-known/openid-configuration
      - ClientJWTSettings__Issuer=https://localhost:7086/
      - ClientJWTSettings__MetadataAddress=http://client-authorizationserver/.well-known/openid-configuration
      - clients=http://localhost:4201,http://localhost:4202
    ports:
      - "7208:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    depends_on:
      - sqlserver

  client-authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.client.authorizationserver:${TAG:-latest}
    build:
      context: eshop-api/Client/
      dockerfile: src/EShop.Client.AuthorizationServer/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ConnectionStrings__clientDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.client.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - clients__0__clientOrigin=http://localhost:4201
    ports:
      - "7086:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    depends_on:
      - sqlserver

  employeemanagement-api:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.api:${TAG:-latest}
    build:
      context: eshop-api/EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443
      - ConnectionStrings__employeeDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.employee.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - clientOrigin=http://localhost:4202
      - JWTSettings__Issuer=https://localhost:7272/
      - JWTSettings__MetadataAddress=http://employeemanagement-authorizationserver/.well-known/openid-configuration
    ports:
      - "7158:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    depends_on:
      - sqlserver
      
  employeemanagement-authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.authorizationserver:${TAG:-latest}
    build:
      context: eshop-api/EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.AuthorizationServer/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ConnectionStrings__employeeDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.employee.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true      
      - clients__0__clientOrigin=http://localhost:4202
    ports:
      - "7272:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro    
    depends_on:
      - sqlserver
      - employeemanagement-api

  employee-portal:
    image: ${DOCKER_REGISTRY-}eshop.ui.employeeportal:${TAG:-latest}
    build: 
      context: eshop-ui-employee-portal
      dockerfile: Dockerfile
      args:
        - CONFIGURATION=${ANGULAR_CONFIGURATION:-development}
        - OAUTH_AUTHORIZATION_ENDPOINT_PATH=${OAUTH_AUTH_EMPOYEE_ENDPOINT_PATH}
        - OAUTH_CLIENT_ID=${OAUTH_EMPOYEE_APP_CLIENT_ID}
        - OAUTH_SCOPE=${OAUTH_EMPOYEE_SCOPE}
    ports:
      - '4202:80'
    depends_on:
      - employeemanagement-api
      - employeemanagement-authorizationserver
      - catalog-api

  client-portal:
    image: ${DOCKER_REGISTRY-}eshop.ui.clientportal:${TAG:-latest}
    build: 
      context: eshop-ui-client-portal
      dockerfile: Dockerfile
      args:
        - CONFIGURATION=${ANGULAR_CONFIGURATION:-development}
    ports:
      - '4201:80'    
    depends_on:
      - client-authorizationserver
      - catalog-api

volumes:
  eshop-api-data:
    external: false