name: 'eshop'
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - MSSQL_SA_PASSWORD=E*AmPleP@ssw0rd
      - ACCEPT_EULA=Y
      - MSSQL_PID=Express  
    ports:
      - "2433:1433"
    volumes:
      - eshop-api-data-wproxy:/var/opt/mssql

  redis:
    image: redis:7.0.15-alpine3.20
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 5s
      timeout: 10s
      retries: 10
    ports:
      - "5672:5672"
      - "15672:15672"

  catalog-api:
    image: ${DOCKER_REGISTRY-}eshop.catalog.api:${TAG:-latest}
    build:
      context: eshop-api/Catalog/
      dockerfile: src/EShop.Catalog.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__catalogDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.catalog.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - generatedItemPictureUriHost=/catalog
      - clientOrigins='https://${DNS_NAME_OR_IP}:${CUSTOMER_PORTAL_PORT},https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}'
      - EmployeeJWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}/authorize
      - EmployeeJWTSettings__MetadataAddress=http://employeemanagement-authorizationserver/.well-known/openid-configuration
      - CustomerJWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${CUSTOMER_PORTAL_PORT}/authorize
      - CustomerJWTSettings__MetadataAddress=http://customer-authorizationserver/.well-known/openid-configuration
      - broker__rabbitMQHost=rabbitmq
      - broker__rabbitMQPort=5672
      - broker__rabbitMQVirtualHost=/
      - broker__rabbitMQUsername=guest
      - broker__rabbitMQPassword=guest
      - broker__reserveStockQueueName=reserve-stocks
      - broker__releaseStockQueueName=release-stocks
    logging:
        driver: gelf
        options:
          gelf-address: "udp://127.0.0.1:12201"
          tag: catalog-api
    depends_on:
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy
  
  customer-authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.customer.authorizationserver:${TAG:-latest}
    build:
      context: eshop-api/Customer/
      dockerfile: src/EShop.Customer.AuthorizationServer/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__customerDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.customer.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - ConnectionStrings__openIddictDbConnectionString=DataSource=customer.openiddict.db
      - initDbOnStartup=true
      - clients__0__clientOrigin=https://${DNS_NAME_OR_IP}:${CUSTOMER_PORTAL_PORT}
      - clients__0__clientId=customer-portal
      - clients__0__displayName="public spa"
      - ASPNETCORE_APPL_PATH=authorize
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: customer-authorizationserver
    depends_on:
      - sqlserver

  customer-portal:
    image: ${DOCKER_REGISTRY-}eshop.ui.customerportal:${TAG:-latest}
    build: 
      context: eshop-ui-customer-portal
      dockerfile: Dockerfile
    depends_on:
      - catalog-api
      - basket-api
      - ordering-api
      - customer-authorizationserver

  employeemanagement-api:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.api:${TAG:-latest}
    build:
      context: eshop-api/EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__employeeDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.employee.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - clientOrigin=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}
      - JWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}/authorize
      - JWTSettings__MetadataAddress=http://employeemanagement-authorizationserver/.well-known/openid-configuration
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: employeemanagement-api
    depends_on:
      - sqlserver

  employeemanagement-authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.authorizationserver:${TAG:-latest}
    build:
      context: eshop-api/EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.AuthorizationServer/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__employeeDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.employee.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - ConnectionStrings__openIddictDbConnectionString=DataSource=customer.openiddict.db
      - clients__0__clientOrigin=https://${DNS_NAME_OR_IP}:${EMPLOYEE_PORTAL_PORT}
      - clients__0__clientId=employee-portal
      - clients__0__displayName="public spa"
      - ASPNETCORE_APPL_PATH=authorize
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: employeemanagement-authorizationserver
    depends_on:
      - sqlserver
      - employeemanagement-api

  basket-api:
    image: ${DOCKER_REGISTRY-}eshop.basket.api:${TAG:-latest}
    build:
      context: eshop-api/Basket/
      dockerfile: src/EShop.Basket.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ConnectionStrings__redisConnectionString=redis:6379
      - broker__rabbitMQHost=rabbitmq
      - broker__rabbitMQPort=5672
      - broker__rabbitMQVirtualHost=/
      - broker__rabbitMQUsername=guest
      - broker__rabbitMQPassword=guest
      - broker__queueName=clear-basket
      - JWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${CUSTOMER_PORTAL_PORT}/authorize
      - JWTSettings__MetadataAddress=http://customer-authorizationserver/.well-known/openid-configuration
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: basket-api
    depends_on:
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  ordering-api:
    image: ${DOCKER_REGISTRY-}eshop.ordering.api:${TAG:-latest}
    build:
      context: eshop-api/Ordering/
      dockerfile: src/EShop.Ordering.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ConnectionStrings__orderingDbConnectionString=Server=sqlserver;Integrated Security=false;Initial Catalog=eshop.ordering.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - broker__rabbitMQHost=rabbitmq
      - broker__rabbitMQPort=5672
      - broker__rabbitMQVirtualHost=/
      - broker__rabbitMQUsername=guest
      - broker__rabbitMQPassword=guest
      - broker__queueName=create-order
      - JWTSettings__Issuer=https://${DNS_NAME_OR_IP}:${CUSTOMER_PORTAL_PORT}/authorize
      - JWTSettings__MetadataAddress=http://customer-authorizationserver/.well-known/openid-configuration
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: ordering-api
    depends_on:
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  payment-processor:
    image: ${DOCKER_REGISTRY-}eshop.payment.processor:${TAG:-latest}
    build:
      context: eshop-api/Payment/
      dockerfile: src/EShop.Payment.Processor/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - broker__rabbitMQHost=rabbitmq
      - broker__rabbitMQPort=5672
      - broker__rabbitMQVirtualHost=/
      - broker__rabbitMQUsername=guest
      - broker__rabbitMQPassword=guest
      - queueName=process-payment
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: payment-processor
    depends_on:
      rabbitmq:
        condition: service_healthy

  saga-processor:
    image: ${DOCKER_REGISTRY-}eshop.saga.processor:${TAG:-latest}
    build:
      context: eshop-api/Saga/
      dockerfile: src/EShop.Saga.Processor/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ConnectionStrings__sagaDbConnectionString=Server=sqlserver;Integrated Security=false;Initial Catalog=eshop.saga.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - broker__rabbitMQHost=rabbitmq
      - broker__rabbitMQPort=5672
      - broker__rabbitMQVirtualHost=/
      - broker__rabbitMQUsername=guest
      - broker__rabbitMQPassword=guest
      - ordering__reserveStocksQueueName=reserve-stocks
      - ordering__processPaymentQueueName=process-payment
      - ordering__createOrderQueueName=create-order
      - ordering__releaseStockQueueName=release-stocks
      - ordering__clearBasketQueueName=clear-basket    
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: saga-processor
    depends_on:
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  employee-portal:
    image: ${DOCKER_REGISTRY-}eshop.ui.employeeportal:${TAG:-latest}
    build: 
      context: eshop-ui-employee-portal
      dockerfile: Dockerfile
      args:
        - OAUTH_AUTHORIZATION_ENDPOINT_PATH=${OAUTH_AUTH_EMPOYEE_ENDPOINT_PATH}
        - OAUTH_CLIENT_ID=${OAUTH_EMPOYEE_APP_CLIENT_ID}
        - OAUTH_SCOPE=${OAUTH_EMPOYEE_SCOPE}
    depends_on:
      - employeemanagement-api
      - employeemanagement-authorizationserver
      - catalog-api 
  
  eshop:
    image: envoyproxy/envoy:v1.31.1
    ports:
      - "${CUSTOMER_PORTAL_PORT}:8443"
      - "8001:8001"
    volumes:
      -  ./.config/envoy/envoy.yaml:/etc/envoy/envoy.yaml
      -  ${CERTIFICATES_PATH}:/etc/ssl # should point to local dev certs
    logging:
      driver: gelf
      options:
        gelf-address: "udp://127.0.0.1:12201"
        tag: eshop
    depends_on:
      - customer-portal
      - customer-authorizationserver
      - catalog-api
      - basket-api
      - ordering-api    
  
  
  eshop-employee-portal:
    image: envoyproxy/envoy:v1.31.1
    ports:
      - "${EMPLOYEE_PORTAL_PORT}:8443"
      - "8002:8001"
    volumes:
      -  ./.config/envoy/envoy-employee-portal.yaml:/etc/envoy/envoy.yaml
      -  ${CERTIFICATES_PATH}:/etc/ssl # should point to local dev certs
    logging:
        driver: gelf
        options:
          gelf-address: "udp://127.0.0.1:12201"
          tag: eshop-employee-portal
    depends_on:
      - employee-portal
      - employeemanagement-api
      - catalog-api
      - employeemanagement-authorizationserver  

  grafana:
    image: grafana/grafana:10.4.2
    volumes:
      - ./.docker-local-storage/grafana:/var/lib/grafana
      - ./.config/grafana/grafana-datasources-config.yaml:/etc/grafana/provisioning/datasources/datasource.yaml   
      - ./.config/grafana/dashboards:/var/lib/grafana/dashboards      
      - ./.config/grafana/dashboards-provisioning:/etc/grafana/provisioning/dashboards
    ports:
      - "3000:3000"

  loki:
    image: grafana/loki:2.9.4
    volumes:
      - ./.docker-local-storage/loki:/loki

  logstash-agent:
    image: grafana/logstash-output-loki:2.9.7
    volumes:
      - ./.config/logstash/logstash.conf:/etc/logstash/logstash.conf
    command: logstash -f /etc/logstash/logstash.conf   
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    depends_on:
      - loki
    ports:
      - 12201:12201/udp

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.1
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8080:8080

  prometheus:
    image: prom/prometheus:v2.52.0
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./.config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - 9090:9090
    depends_on:
      - cadvisor

volumes:
  eshop-api-data-wproxy:
    external: false