<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'change-password-header' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline"class="card-row">
        <mat-label>{{ 'current-password' | translate }}</mat-label>
        <input type="password" matInput formControlName="currentPassword">
        <mat-error>{{ 'errors.missing-current-password' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline"class="card-row">
        <mat-label>{{ 'new-password' | translate }}</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>{{ 'errors.missing-password' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline"class="card-row">
        <mat-label>{{ 'confirm-password' | translate }}</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
        <mat-error *ngIf="changePasswordForm.controls['confirmPassword']?.hasError('mismatch')">
          {{ 'errors.password-does-not-match' | translate }}
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['confirmPassword']?.hasError('required')">
          {{ 'errors.missing-confirm-password' | translate }}
        </mat-error>
      </mat-form-field>
      <api-errors-summary [apiError] = "apiError"></api-errors-summary>
      <button type="submit" mat-raised-button color="primary" [disabled]="changePasswordForm.invalid || isLoading">
        {{ 'change-password' | translate }}
      </button>
      <mat-spinner *ngIf="isLoading" class="action-spinner"></mat-spinner>
    </form>
  </mat-card-content>
</mat-card>
