
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$eshop-ui-customer-portal-primary: mat.m2-define-palette(mat.$m2-blue-gray-palette);
$eshop-ui-customer-portal-accent: mat.m2-define-palette(mat.$m2-gray-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$eshop-ui-customer-portal-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$eshop-ui-customer-portal-theme: mat.m2-define-light-theme((
  color: (
    primary: $eshop-ui-customer-portal-primary,
    accent: $eshop-ui-customer-portal-accent,
    warn: $eshop-ui-customer-portal-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($eshop-ui-customer-portal-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav-content {
  background-color: white;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr; // mat-toolbar main
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  display: flex;
  height: calc(100vh - 64px); /* height of body - height of navbar */
}

.expand-sidenav-button {
  margin: 10px;
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 20px;
  justify-content: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-item {
  width: 300px;
  margin: 10px;
  display:flex;
}

.checkout {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1000px;
}

.basket {
  width: 100%;
  max-width: 1000px;
}

.order {
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;
}

.order-image {
  width: 50px;
  height: 50px;
  margin-top: 2px;
}

.grid-spinner {
  margin: 6px;
  float: left;
}

.filter-row {
  width: 100%;
}

.filter-container {
  padding: 12px 16px;
  width: 250px;
}

.right {
  float: right;
}

.not-found-container {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}

.catalog-image {
  width: 100%;
}

.subtitle-header {
  width: 70px;
  display: inline-block;
}

.mat-qty-edit{
  width:100px !important;
  margin-top: 10px;
}

.form-item {
  margin: 10px 10px 0px 10px;
}

:root {
  @include mat.snack-bar-overrides((
    button-color: white,
    container-color: red,
  ));
}

.action-button {
  width: 170px;
}
