<mat-toolbar color="primary">
  <!-- Toolbar Items -->
  <button mat-button [matMenuTriggerFor]="smallScreenMenu" *ngIf="isSmallScreen">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button [routerLink]="''" *ngIf="!isSmallScreen">
    <mat-icon>home</mat-icon>
    {{ 'header.home' | translate }}
  </a>
  <a mat-button [routerLink]="'/employee-management/employees'" *ngIf="isAdmin && !isSmallScreen">
    <mat-icon>people</mat-icon>
      {{'header.employees' | translate }}
  </a>
  <button mat-button [matMenuTriggerFor]="catalogMenu" *ngIf="isSalesManager && !isSmallScreen">
    <mat-icon>equalizer</mat-icon>
    {{ 'header.setup' | translate }}
  </button>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="userActionsMenu" *ngIf="isAuthenticated">
    <mat-icon>account_box</mat-icon>
      {{ userEmail }}
  </button>
  <button mat-button (click)="login()" *ngIf="!isAuthenticated">
    {{'header.log-in' | translate}}
    <mat-icon>login</mat-icon>
  </button>

  <!-- Menus -->
  <mat-menu #smallScreenMenu="matMenu">
    <a mat-menu-item [routerLink]="''">
      <mat-icon>home</mat-icon>
      {{ 'header.home' | translate }}
    </a>
    <a mat-menu-item [routerLink]="'/employee-management/employees'" *ngIf="isAdmin">
      <mat-icon>people</mat-icon>
        {{'header.employees' | translate }}
    </a>
    <a mat-menu-item [routerLink]="'/catalog/items'" *ngIf="isSalesManager">
      <mat-icon>storage</mat-icon>
      {{ 'header.catalog' | translate }}
    </a>
    <a mat-menu-item [routerLink]="'/catalog/brands'" *ngIf="isSalesManager">
      <mat-icon>label_outline</mat-icon>
      {{ 'header.brands' | translate }}
    </a>
    <a mat-menu-item [routerLink]="'/catalog/types'" *ngIf="isSalesManager">
      <mat-icon>category</mat-icon>
      {{ 'header.types' | translate }}
    </a>
  </mat-menu>
  <mat-menu #userActionsMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      {{'header.log-out' | translate }}
    </button>
  </mat-menu>
  <mat-menu #catalogMenu="matMenu">
    <a mat-menu-item [routerLink]="'/catalog/items'">
      <mat-icon>storage</mat-icon>
      {{ 'header.catalog' | translate }}
    </a>
    <a mat-menu-item [routerLink]="'/catalog/brands'">
      <mat-icon>label_outline</mat-icon>
      {{ 'header.brands' | translate }}
    </a>
    <a mat-menu-item [routerLink]="'/catalog/types'">
      <mat-icon>category</mat-icon>
    {{ 'header.types' | translate }}
    </a>
  </mat-menu>
</mat-toolbar>
