version: '3.4'

services:
  sqlserver:
    environment:
      - MSSQL_SA_PASSWORD=E*AmPleP@ssw0rd
      - ACCEPT_EULA=Y
      - MSSQL_PID=Express  
    ports:
      - "2433:1433"
    volumes:
      - eshop-api-data:/var/opt/mssql

  rabbitmq:
    ports:
      - "5672:5672"
      - "15672:15672"

  eshop.catalog.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ConnectionStrings__catalogDbConnectionString=Server=tcp:sqlserver;Integrated Security=false;Initial Catalog=eshop.catalog.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - EmployeeJWTSettings__MetadataAddress=http://host.docker.internal:5218/.well-known/openid-configuration
      - ClientJWTSettings__MetadataAddress=http://host.docker.internal:5058/.well-known/openid-configuration
      - initDbOnStartup=true
      - generatedItemPictureUriHost=https://localhost:7208
      - broker__rabbitMQHost=rabbitmq
      - broker__rabbitMQPort=5672
      - broker__rabbitMQVirtualHost=/
      - broker__rabbitMQUsername=guest
      - broker__rabbitMQPassword=guest
      - broker__reserveStockQueueName=reserve-stocks
      - broker__releaseStockQueueName=release-stocks
    ports:
      - "5035:80"
      - "7208:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
      
volumes:
  eshop-api-data:
    external: false