version: '3.4'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest

  catalog.api:
    image: ${DOCKER_REGISTRY-}eshop.catalog.api:${TAG:-latest}
    build:
      context: Catalog/
      dockerfile: src/EShop.Catalog.Api/Dockerfile
    depends_on:
      - sqlserver

  client.authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.client.authorizationserver:${TAG:-latest}
    build:
      context: Client/
      dockerfile: src/EShop.Client.AuthorizationServer/Dockerfile
    depends_on:
      - sqlserver

  employeemanagement.api:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.api:${TAG:-latest}
    build:
      context: EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.Api/Dockerfile
    depends_on:
      - sqlserver
      
  employeemanagement.authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.authorizationserver:${TAG:-latest}
    build:
      context: EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.AuthorizationServer/Dockerfile    
    depends_on:
      - sqlserver
      - employeemanagement.api

