version: '3.4'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    profiles: ["dev", "test", "infrastructure"]

  redis:
    image: redis:7.0.15-alpine3.20
    profiles: ["dev", "test", "infrastructure"]

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 5s
      timeout: 10s
      retries: 10
    profiles: ["dev", "test", "infrastructure"]

  catalog.api:
    image: ${DOCKER_REGISTRY-}eshop.catalog.api:${TAG:-latest}
    build:
      context: Catalog/
      dockerfile: src/EShop.Catalog.Api/Dockerfile
    depends_on:
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    profiles: ["dev"]

  customer.authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.customer.authorizationserver:${TAG:-latest}
    build:
      context: Customer/
      dockerfile: src/EShop.Customer.AuthorizationServer/Dockerfile
    depends_on:
      - sqlserver
    profiles: ["dev"]

  employeemanagement.api:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.api:${TAG:-latest}
    build:
      context: EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.Api/Dockerfile
    depends_on:
      - sqlserver
    profiles: ["dev"]
      
  employeemanagement.authorizationserver:
    image: ${DOCKER_REGISTRY-}eshop.employeemanagement.authorizationserver:${TAG:-latest}
    build:
      context: EmployeeManagement/
      dockerfile: src/EShop.EmployeeManagement.AuthorizationServer/Dockerfile    
    depends_on:
      - sqlserver
      - employeemanagement.api
    profiles: ["dev"]
      
  basket.api:
    image: ${DOCKER_REGISTRY-}eshop.basket.api:${TAG:-latest}
    build:
      context: Basket/
      dockerfile: src/EShop.Basket.Api/Dockerfile
    depends_on:
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    profiles: ["dev"]
      
  ordering.api:
    image: ${DOCKER_REGISTRY-}eshop.ordering.api:${TAG:-latest}
    build:
      context: Ordering/
      dockerfile: src/EShop.Ordering.Api/Dockerfile
    depends_on:
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    profiles: ["dev"]
      
  payment.processor:
    image: ${DOCKER_REGISTRY-}eshop.payment.processor:${TAG:-latest}
    build:
      context: Payment/
      dockerfile: src/EShop.Payment.Processor/Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
    profiles: ["dev"]

  saga.processor:
    image: ${DOCKER_REGISTRY-}eshop.saga.processor:${TAG:-latest}
    build:
      context: Saga/
      dockerfile: src/EShop.Saga.Processor/Dockerfile
    depends_on:
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    profiles: ["dev"]

  catalog.api.tests:
    image: ${DOCKER_REGISTRY-}eshop.catalog.api:${TAG:-latest}
    build:
      context: Catalog/
      dockerfile: src/EShop.Catalog.Api/Dockerfile
    depends_on:
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    profiles: ["test"]

  basket.api.tests:
    image: ${DOCKER_REGISTRY-}eshop.basket.api:${TAG:-latest}
    build:
      context: Basket/
      dockerfile: src/EShop.Basket.Api/Dockerfile
    depends_on:
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    profiles: ["test"]
      
  ordering.api.tests:
    image: ${DOCKER_REGISTRY-}eshop.ordering.api:${TAG:-latest}
    build:
      context: Ordering/
      dockerfile: src/EShop.Ordering.Api/Dockerfile
    depends_on:
      sqlserver:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    profiles: ["test"]
      
  payment.processor.tests:
    image: ${DOCKER_REGISTRY-}eshop.payment.processor:${TAG:-latest}
    build:
      context: Payment/
      dockerfile: src/EShop.Payment.Processor/Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
    profiles: ["test"]