<mat-card>
  <mat-card-header>
    <mat-card-title>{{'employee-management.edit-employee-hedader' | translate:  {'email' : employee?.email} }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <!-- Edit Roles -->
    <mat-card class="child-card">
      <mat-card-header>
        <mat-card-title>{{ 'employee-management.change-roles' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <!-- Roles -->
        <mat-selection-list color="primary" [(ngModel)]="roles">
          <mat-list-option value="SalesManager">{{ 'employee-management.sales-manager-role' | translate }}</mat-list-option>
          <mat-list-option value="Administrator">{{ 'employee-management.administrator-role' | translate }}</mat-list-option>
        </mat-selection-list>
        <api-errors-summary [apiError] = "updateRolesApiError"></api-errors-summary>

        <!-- Save Button -->
        <button mat-raised-button color="primary" (click)="changeRoles()"
          [disabled]="isRolesUpdating">
          {{ 'employee-management.change-roles' | translate }}
        </button>
        <mat-spinner *ngIf="isRolesUpdating" class="action-spinner"></mat-spinner>
      </mat-card-content>
    </mat-card>
    <div class="child-card-spacer"></div>

    <!-- Change Password -->
    <mat-card class="child-card">
      <mat-card-header>
        <mat-card-title>{{ 'employee-management.set-password' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #setPasswordForm="ngForm"  (ngSubmit)="changePassword(setPasswordForm)">

          <!-- Password -->
          <mat-form-field appearance="outline"class="card-row">
            <mat-label>{{ 'employee-management.password' | translate }}</mat-label>
            <input type="password" matInput name="password" required ngModel>
            <mat-error>{{ 'employee-management.errors.missing-password' | translate }}</mat-error>
          </mat-form-field>
          <api-errors-summary [apiError] = "updatePasswordApiError"></api-errors-summary>

          <!-- Save Button -->
          <button type="submit" mat-raised-button color="primary"
            [disabled]="setPasswordForm.invalid || isPasswordUpdating">
            {{ 'employee-management.set-password' | translate }}
          </button>
          <mat-spinner *ngIf="isPasswordUpdating" class="action-spinner"></mat-spinner>
        </form>
      </mat-card-content>
    </mat-card>
    <button class="back-button" mat-button mat-raised-button  color="primary" (click)="back()">{{ 'back' | translate }}</button>
  </mat-card-content>
</mat-card>
