version: '3.4'

services:
  redis:
    image: redis:7.0.15-alpine3.20

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 10s
      retries: 10

  eshop.basket.api:
    image: ${DOCKER_REGISTRY-}eshop.basket.api:${TAG:-latest}
    build:
      context: .
      dockerfile: src/Eshop.Basket.Api/Dockerfile
    depends_on:
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy