<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ 'catalog.brands' | translate }}</mat-card-title>
      <button mat-raised-button color="primary" class="right" (click)="openCreateBrand()">{{ 'catalog.add-brand' | translate }}</button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>

    <table mat-table [dataSource]="data()"  matSort>

      <!-- Brand Column -->
      <ng-container matColumnDef="Brand">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{ 'catalog.brand' | translate }} </th>
        <td mat-cell *matCellDef="let brand"> {{ brand.brand }} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>
          <div class="center">{{ 'edit' | translate }}</div>
        </th>
        <td mat-cell *matCellDef="let brand">
          <button mat-icon-button color="primary" class="right" (click)="editBrand(brand)"><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef>
          <div class="center">{{ 'delete' | translate }}</div>
        </th>
        <td mat-cell *matCellDef="let brand">
          <button mat-icon-button color="primary" class="right" (click)="deleteBrand(brand)"><mat-icon>close</mat-icon></button>
        </td>
      </ng-container>

      <!-- Edit Brand column -->
      <ng-container matColumnDef="editBrand">
        <td mat-footer-cell *matFooterCellDef colspan="3">
          <form #editBrandForm="ngForm" (ngSubmit)="saveBrand(editBrandForm)" class="standard-top-indent">
            <mat-form-field appearance="outline"class="card-row">
              <mat-label>{{ 'catalog.brand-name' | translate }}</mat-label>
              <input matInput name="brand" required [ngModel]="selectedBrand()?.brand" (ngModelChange)="updateCatalogBrand($event)">
              <mat-error>{{ 'catalog.errors.brand-name-required' | translate }}</mat-error>
            </mat-form-field>
            <catalog-api-errors-summary [error]="apiError()"></catalog-api-errors-summary>
            <button type="submit" mat-raised-button color="primary" [disabled]="editBrandForm.invalid || isBrandSaving()">
              {{ 'save' | translate }}
            </button>
            <button type="button" mat-raised-button color="primary" class="right" (click)="close(editBrandForm)">
              {{ 'cancel' | translate }}
            </button>
            @if (isBrandSaving()) {
              <mat-spinner class="action-spinner"></mat-spinner>
            }
          </form>
        </td>
      </ng-container>

      <!-- Delete Error container Displayed When Edit Row Is Hidden -->

      <ng-container matColumnDef="apiError">
        <td mat-footer-cell *matFooterCellDef colspan="3">
          <div  class="standard-top-indent">
            <catalog-api-errors-summary [error]="apiError()"></catalog-api-errors-summary>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['apiError']" [hidden] = "apiError() === null || selectedBrandId() !== null"></tr>
      <tr mat-footer-row *matFooterRowDef="['editBrand']" [hidden] = "selectedBrand() === null"></tr>
    </table>
    @if (isLoadingResults()) {
      <mat-spinner class="grid-spinner"></mat-spinner>
    }
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      [length]="resultsLength()"
      showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>
