version: '3.4'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest

  eshop.employeemanagement.api:
    image: ${DOCKER_REGISTRY-}eshopemployeemanagementapi
    build:
      context: .
      dockerfile: src/EShop.EmployeeManagement.Api/Dockerfile
    depends_on:
      - sqlserver

  eshop.employeemanagement.authorizationserver:
    image: ${DOCKER_REGISTRY-}eshopemployeemanagementauthorizationserver
    build:
      context: .
      dockerfile: src/EShop.EmployeeManagement.AuthorizationServer/Dockerfile
    depends_on:
      - sqlserver
      - eshop.employeemanagement.api

