version: '3.4'

services:
  sqlserver:
    environment:
      - MSSQL_SA_PASSWORD=E*AmPleP@ssw0rd
      - ACCEPT_EULA=Y
      - MSSQL_PID=Express  
    ports:
      - "2433:1433"
    volumes:
      - eshop-ordering-data:/var/opt/mssql

  rabbitmq:
    ports:
      - "5672:5672"
      - "15672:15672"

  eshop.ordering.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - JWTSettings__MetadataAddress=http://host.docker.internal:5058/.well-known/openid-configuration
      - ConnectionStrings__orderingDbConnectionString=Server=host.docker.internal,2433;Integrated Security=false;Initial Catalog=eshop.ordering.Db;User Id=sa;password=E*AmPleP@ssw0rd;TrustServerCertificate=true
      - initDbOnStartup=true
      - broker__rabbitMQHost=rabbitmq
      - broker__rabbitMQPort=5672
      - broker__rabbitMQVirtualHost=/
      - broker__rabbitMQUsername=guest
      - broker__rabbitMQPassword=guest
      - broker__queueName=create-order
    ports:
      - "5009:8080"
      - "7247:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      
volumes:
  eshop-ordering-data:
    external: false