<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ 'catalog.items' | translate }}</mat-card-title>
      <button mat-raised-button color="primary" class="right" (click)="openCreateItem()">{{ 'catalog.add-item' | translate }}</button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>

    <table mat-table [dataSource]="data"  matSort>

      <!-- Item Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>{{ 'catalog.item' | translate }}</th>
        <td mat-cell *matCellDef="let item"> {{ item.name }} </td>
      </ng-container>

      <!-- Brand Column -->
      <ng-container matColumnDef="Brand">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>{{ 'catalog.brand' | translate }}</th>
        <td mat-cell *matCellDef="let item"> {{ item.catalogBrand.brand }} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>{{ 'catalog.type' | translate }}</th>
        <td mat-cell *matCellDef="let item"> {{ item.catalogType.type }} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef   style="width: 40px">
            <div class="center">{{ 'edit' | translate }}</div>
        </th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button color="primary" class="right" (click)="editItem(item)"><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef   style="width: 40px">
            <div class="center">{{ 'delete' | translate }}</div>
        </th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button color="primary" class="right" (click)="deleteItem(item)"><mat-icon>close</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-spinner *ngIf="isLoadingResults" class="grid-spinner"></mat-spinner>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   [length]="resultsLength"
                   showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>
