<mat-toolbar color="primary">
  <button mat-button [routerLink]="''">
    <mat-icon>home</mat-icon>
    {{ 'header.catalog' | translate }}
  </button>
  <span class="spacer"></span>
  <button  mat-button [routerLink]="'/basket'">
    <mat-icon>shopping_cart</mat-icon>
    {{ basketTotal() }}
  </button>
  @if (isAuthenticated()) {
    <button mat-button [matMenuTriggerFor]="userActionsMenu">
      <mat-icon>account_box</mat-icon>
      {{ userEmail() }}
    </button>
  }
  <mat-menu #userActionsMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      {{'header.log-out' | translate }}
    </button>
    <button mat-menu-item [routerLink]="'/orders'">
      <mat-icon>assignment</mat-icon>
      {{'header.orders' | translate }}
    </button>
  </mat-menu>
  @if (!isAuthenticated()) {
    <button mat-button (click)="login()">
      {{'header.log-in' | translate}}
      <mat-icon>login</mat-icon>
    </button>
  }
</mat-toolbar>
