<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'employee-management.employees-list-header' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="outline" class="email-filter">
        <mat-label>{{ 'employee-management.filter-by-email' | translate }}</mat-label>
        <input matInput #emailFilter>
      </mat-form-field>
      <button mat-raised-button class="right"  (click)="applyEmailFilter(emailFilter.value)">
        {{ 'employee-management.apply-filter' | translate }}
      </button>
    </form>
    <table mat-table [dataSource]="data()" matSort>

      <!-- Email Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{ 'employee-management.email' | translate }} </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <!-- Roles Column -->
      <ng-container matColumnDef="Roles">
        <th mat-header-cell *matHeaderCellDef>  {{ 'employee-management.roles' | translate }} </th>
        <td mat-cell *matCellDef="let user">{{getRoles(user)}}</td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>
          <div class="center">{{ 'edit' | translate }}</div>
        </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" class="right" (click)="openEditUser(user)"><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    @if (isLoadingResults()) {
      <mat-spinner class="grid-spinner"></mat-spinner>
    }
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      [length]="resultsLength()"
      showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>

