<mat-card>
  <mat-card-header>
    <mat-card-title class="center">{{'home-header' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>
        <p>
          To register new employee go to register page and create a new user.
          To assign user role - login under administrator account and go to Employees page to edit created user
        </p>
      </li>
      <li>
        To change passord or email - login and go to "Change Password" or "Change Email" Page.
      </li>
      <li>
        If password was forgotten - the administrator can set the password for any employee.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
