name: Customer Portal CI CD Docker

on:
  workflow_dispatch:
  
env:
  buildConfiguration: production
  workingDirectory: ./eshop-ui-customer-portal  
  repositoryName: eshop.ui.clientportal
  dockerRegistryUrl: https://index.docker.io/v1/  
  templateFileName: customer-portal-docker.bicep
  webappname: customer-portal-web-app-${{ vars.SUFFIX }}
  resourceGroupName: eshop-docker-deployment
  location: westeurope
    
jobs:
  build_and_deploy:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: ${{ env.workingDirectory }}
        push: true
        tags: ${{ vars.DOCKERHUB_USERNAME }}/${{ env.repositoryName }}:run_id-${{github.run_id}}, ${{ vars.DOCKERHUB_USERNAME }}/${{ env.repositoryName }}:latest
                
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}    
      
    - name: Deploy Web App Infrastructure
      uses: Azure/arm-deploy@v2
      id: deployBicep
      with:
        subscriptionId:  ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ env.resourceGroupName }}
        template: ${{ env.workingDirectory }}/.azure/${{ env.templateFileName }}
        parameters: webAppName="${{ env.webappname }}" location="${{ env.location }}" suffix="${{ vars.SUFFIX }}"
   
    - name: Clear Azure Cache
      run: az cache purge
      
    - name: Get Web App Publish Profile
      id: webAppPublishpPofile
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          publishProfile=$(az webapp deployment list-publishing-profiles --name "${{ env.webappname }}" --resource-group "${{ env.resourceGroupName }}"  --subscription "${{ secrets.AZURE_SUBSCRIPTION }}" --xml)
          echo "publishProfile=$publishProfile" >> $GITHUB_OUTPUT       
         
    - name: Deploy Web App
      uses: Azure/webapps-deploy@v3.0.0
      with:
        app-name: ${{  env.webappname }}
        publish-profile: ${{ steps.webAppPublishpPofile.outputs.publishProfile }}
        images: ${{ vars.DOCKERHUB_USERNAME  }}/${{ env.repositoryName }}:run_id-${{github.run_id}}       
    
    - name: Set Web App Docker Authentication
      uses: Azure/appservice-settings@v1
      with:
        app-name: ${{ env.webappname }}
        app-settings-json: |
         [
             {
                 "name": "DOCKER_REGISTRY_SERVER_PASSWORD",
                 "value": "${{ secrets.DOCKERHUB_TOKEN }}",
                 "slotSetting": false
             },
             {
                 "name": "DOCKER_REGISTRY_SERVER_URL",
                 "value": "${{ env.dockerRegistryUrl }}",
                 "slotSetting": false
             },
             {
                 "name": "DOCKER_REGISTRY_SERVER_USERNAME",
                 "value": "${{ vars.DOCKERHUB_USERNAME  }}",
                 "slotSetting": false
             }
         ]   
        
