name: Employee Portal CI CD

on:
  workflow_dispatch:
  
env:
  buildConfiguration: production
  workingDirectory: ./eshop-ui-employee-portal
  nodeVersion: 16.x
  angularCliVersion: 15.2.0
  staticAppSku: Free
  staticAppTier: Free
  staticWebAppName: employee-portal-${{ vars.SUFFIX }}
  resourceGroupName: eshop-zip-deployment
  employeeOAuthAuthorizationEndpoint: '/authorize'
  employeeOAuthClientId: 'employee-portal'
  employeeOAuthScope: 'openid roles api offline_access'
  location: westeurope
      
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Install Node.js 16.x
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.nodeVersion }}
        
    - name: Install Angular CLI
      run: npm install -g @angular/cli@${{ env.angularCliVersion }}
      
    - name: NPM ci
      working-directory: ${{ env.workingDirectory }}
      run: npm ci
            
    - name: Replace OAuth Connectivity Tokens
      working-directory: ${{ env.workingDirectory }}
      run: |
        sed -i  "s|__OAUTH_AUTHORIZATION_ENDPOINT_PATH__|${{ env.employeeOAuthAuthorizationEndpoint }}|g" ./src/environments/environment.ts
        sed -i  "s|__OAUTH_CLIENT_ID__|${{ env.employeeOAuthClientId }}|g" ./src/environments/environment.ts
        sed -i  "s|__OAUTH_SCOPE__|${{ env.employeeOAuthScope }}|g" ./src/environments/environment.ts
            
    - name: Check Configuration
      working-directory: ${{ env.workingDirectory }}
      run: cat ./src/environments/environment.ts
        
    - name: Build Angular App
      working-directory: ${{ env.workingDirectory }}
      run: ng build  --configuration "${{ env.buildConfiguration }}"
              
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}          
    
    - name: Deploy Azure Resource Manager (ARM) Template
      uses: Azure/arm-deploy@v2
      id: deployBicep
      with:
        subscriptionId:  ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ env.resourceGroupName }}
        template: ${{ env.workingDirectory }}/.azure/employee-portal-static.bicep
        parameters: |
          staticAppSkuName="${{ env.staticAppSku }}" staticAppTier="${{ env.staticAppTier }}" staticWebAppName="${{ env.staticWebAppName }}" location="${{ env.location }}"
          
    - name: Azure CLI Action
      uses: Azure/cli@v1.0.9
      id: apiKey
      with:
        inlineScript: |
          val=$(az staticwebapp secrets list --n "${{ env.staticWebAppName }}"  --resource-group "${{ env.resourceGroupName }}" --subscription "${{ secrets.AZURE_SUBSCRIPTION }}" --query "properties.apiKey" -otsv)
          echo "::add-mask::$val"
          echo "API_KEY="$val >> $GITHUB_OUTPUT
      
    - name: Azure Static Web Apps Deploy
      uses: Azure/static-web-apps-deploy@v1
      with:
        action: upload
        app_location: ${{ env.workingDirectory }}/dist/eshop-ui-employee-portal
        azure_static_web_apps_api_token: ${{ steps.apiKey.outputs.API_KEY }}
