name: Eshop CD AKS

on:
  workflow_dispatch:

env:
  clusterName: aks-eshop-${{ vars.SUFFIX }}
  dnsLabel: eshop-${{ vars.SUFFIX }}
  catalogSqlServerName: catalog-sqlserver-${{ vars.SUFFIX }}
  employeeSqlServerName: employee-sqlserver-${{ vars.SUFFIX }}
  customerSqlServerName: customer-sqlserver-${{ vars.SUFFIX }}
  orderingSqlServerName: ordering-sqlserver-${{ vars.SUFFIX }}   
  sagaSqlServerName: saga-sqlserver-${{ vars.SUFFIX }}   
  redisCacheName: basket-rediscache-${{ vars.SUFFIX }}  
  serviceBusNamespaceName: eshop-sb-${{ vars.SUFFIX }}  
  catalogApiUMIName: catalog-api-identity
  employeeManagementUMIName: employee-management-identity
  customerAuthServerUMIName: customer-authserver-identity  
  basketApiUMIName: basket-api-identity
  orderingApiUMIName: ordering-api-identity
  paymentProcessorUMIName: payment-processor-identity
  sagaProcessorUMIName: saga-processor-identity
  employeeExternalOAuthIssuer: '' # When Empty Default Identity Server Will Be Used
  employeeExternalOAuthMetadataEndpoint: ''
  employeeExternalOAuthAudience: ''
  resourceGroupName: eshop-aks
  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Download workflow artifact
      uses: dawidd6/action-download-artifact@v3.1.2
      id: downloadArtifacts
      with:
        workflow: eshop-on-microservices-ci-aks.yml 
        path: ./artifacts
        
    - name: Retrieve Web App Docker Tag
      run: |
        artifacts='${{ steps.downloadArtifacts.outputs.artifacts }}'          
        echo "buildPipelineId="$(echo $artifacts | jq -r '.[0].workflow_run.id')>> $GITHUB_ENV
    
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}  
    
    - name:  Get The Tenant Id (save result to tenantId variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          TENNANT_ID=$(az account show --query tenantId -o tsv)
          echo "::add-mask::$TENNANT_ID"
          echo "tenantId="$TENNANT_ID >> $GITHUB_ENV
          
    - name: Get The ClientId Of The Catalog API UMI (save result to catalogApiUmiClientId variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          CLIENT_ID=$(az identity show --resource-group "${{ env.resourceGroupName }}" --name "${{ env.catalogApiUMIName }}" --query "clientId" -o tsv)
          echo "::add-mask::$CLIENT_ID"
          echo "catalogApiUmiClientId="$CLIENT_ID >> $GITHUB_ENV
          
    - name: Get The ClientId Of The Employee Management UMI (save result to employeeManagementUmiClientId variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          CLIENT_ID=$(az identity show --resource-group "${{ env.resourceGroupName }}" --name "${{ env.employeeManagementUMIName }}" --query "clientId" -o tsv)
          echo "::add-mask::$CLIENT_ID"
          echo "employeeManagementUmiClientId="$CLIENT_ID >> $GITHUB_ENV
          
    - name: Get The ClientId Of The Customer Authorization Server UMI (save result to customerAuthserverUmiClientId variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          CLIENT_ID=$(az identity show --resource-group "${{ env.resourceGroupName }}" --name "${{ env.customerAuthServerUMIName }}" --query "clientId" -o tsv)
          echo "::add-mask::$CLIENT_ID"
          echo "customerAuthserverUmiClientId="$CLIENT_ID >> $GITHUB_ENV    

    - name: Get The ClientId Of The Basket API UMI (save result to basketApiUmiClientId variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          CLIENT_ID=$(az identity show --resource-group "${{ env.resourceGroupName }}" --name "${{ env.basketApiUMIName }}" --query "clientId" -o tsv)
          echo "::add-mask::$CLIENT_ID"
          echo "basketApiUmiClientId="$CLIENT_ID >> $GITHUB_ENV  

    - name: Get The ClientId Of The Ordering API UMI (save result to orderingApiUmiClientId variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          CLIENT_ID=$(az identity show --resource-group "${{ env.resourceGroupName }}" --name "${{ env.orderingApiUMIName }}" --query "clientId" -o tsv)
          echo "::add-mask::$CLIENT_ID"
          echo "orderingApiUmiClientId="$CLIENT_ID >> $GITHUB_ENV  

    - name: Get The ClientId Of The Payment Processor UMI (save result to paymentProcessorUmiClientId variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          CLIENT_ID=$(az identity show --resource-group "${{ env.resourceGroupName }}" --name "${{ env.paymentProcessorUMIName }}" --query "clientId" -o tsv)
          echo "::add-mask::$CLIENT_ID"
          echo "paymentProcessorUmiClientId="$CLIENT_ID >> $GITHUB_ENV  

    - name: Get The ClientId Of The Saga Processor UMI (save result to sagaProcessorUmiClientId variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          CLIENT_ID=$(az identity show --resource-group "${{ env.resourceGroupName }}" --name "${{ env.sagaProcessorUMIName }}" --query "clientId" -o tsv)
          echo "::add-mask::$CLIENT_ID"
          echo "sagaProcessorUmiClientId="$CLIENT_ID >> $GITHUB_ENV  
          
    - name: Get The Eshop DNS Name (save result to eshopDnsName variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          DNS_NAME=$(az network public-ip list --query "[?dnsSettings.domainNameLabel=='${{ env.dnsLabel }}'].dnsSettings.fqdn" -otsv)
          echo "eshopDnsName="$DNS_NAME >> $GITHUB_ENV
                
    - name: Get The Eshop Employee Portal DNS Name (save result to eshopEmployeePortalDnsName variable)
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          DNS_NAME=$(az network public-ip list --query "[?dnsSettings.domainNameLabel=='${{ env.dnsLabel }}'].ipAddress" -otsv).nip.io
          echo "eshopEmployeePortalDnsName="$DNS_NAME >> $GITHUB_ENV
    
    - name: Helm tool installer
      uses: Azure/setup-helm@v3.5
      
    - name: Set AKS Context
      uses: azure/aks-set-context@v3
      with:
         resource-group: ${{ env.resourceGroupName }}
         cluster-name:  ${{ env.clusterName }}
       
    - name: Helm Upgrade Or Install
      run: |
        helm upgrade --namespace eshop --install \
        --set useAks=true,imagesTag=kube-${{ env.buildPipelineId }},dockerRegistry=${{ vars.ACR_NAME }}.azurecr.io,azure.tenantId=${{ env.tenantId }},azure.catalogApiUmiClientId=${{ env.catalogApiUmiClientId }},azure.employeeManagementUmiClientId=${{ env.employeeManagementUmiClientId }},azure.customerAuthserverUmiClientId=${{ env.customerAuthserverUmiClientId }},azure.basketApiUmiClientId=${{ env.basketApiUmiClientId }},azure.orderingApiUmiClientId=${{ env.orderingApiUmiClientId }},azure.paymentProcessorUmiClientId=${{ env.paymentProcessorUmiClientId }},azure.sagaProcessorUmiClientId=${{ env.sagaProcessorUmiClientId }},azure.catalogSqlServerName=${{ env.catalogSqlServerName }},azure.employeeSqlServerName=${{ env.employeeSqlServerName }},azure.customerSqlServerName=${{ env.customerSqlServerName }},azure.orderingSqlServerName=${{ env.orderingSqlServerName }},azure.sagaSqlServerName=${{ env.sagaSqlServerName }},azure.redisCacheName=${{ env.redisCacheName }},azure.serviceBusNamespaceName=${{ env.serviceBusNamespaceName }},eshop_ingress.eshopDnsName=${{ env.eshopDnsName }},eshop_ingress.eshopEmployeePortalDnsName=${{ env.eshopEmployeePortalDnsName }},employee_external_authserver.issuer=${{ env.employeeExternalOAuthIssuer }},employee_external_authserver.metadataAddress=${{ env.employeeExternalOAuthMetadataEndpoint }},employee_external_authserver.audience=${{ env.employeeExternalOAuthAudience }} \
        --wait --timeout 2m --debug --create-namespace eshop  ./artifacts/Helm/eshop-${{ env.buildPipelineId }}.tgz
    
    - name: Check Eshop App
      run: Invoke-WebRequest -UseBasicParsing -SkipCertificateCheck https://${{ env.eshopDnsName }}/ -TimeoutSec 300
      shell: pwsh   

    - name: Check Eshop Employee Portal App
      run: Invoke-WebRequest -UseBasicParsing -SkipCertificateCheck https://${{ env.eshopEmployeePortalDnsName }}/ -TimeoutSec 300
      shell: pwsh  
