name:  Eshop CD Docker Infrastructure

on:
  workflow_dispatch:
  
env:
  storageAccountName: storageacc${{ vars.SUFFIX }}
  clientGatewayConfigContainerName: clientgateway
  employeeGatewayConfigContainerName: employeegateway
  clientProxyConfigurationFile: nginx-client-azure.conf
  employeeProxyConfigurationFile: nginx-employee-azure.conf
  clientGatewayAppName: customer-portal-gateway-${{ vars.SUFFIX }}
  employeeGatewayAppName: employee-portal-gateway-${{ vars.SUFFIX }}
  clientPortalWebAppName: customer-portal-${{ vars.SUFFIX }}
  employeePortalWebAppName: employee-portal-${{ vars.SUFFIX }}
  catalogApiWebAppName: catalog-api-web-app-${{ vars.SUFFIX }}
  clientAuthServerWebAppName: client-auth-web-app-${{ vars.SUFFIX }}
  employeeApiWebAppName: employee-api-web-app-${{ vars.SUFFIX }}
  employeeAuthServerWebAppName: employee-authserver-web-app-${{ vars.SUFFIX }}
  catalogSqlServerName: catalog-sqlserver-${{ vars.SUFFIX }}
  employeesSqlServerName: employee-sqlserver-${{ vars.SUFFIX }}
  clientsSqlServerName: client-sqlserver-${{ vars.SUFFIX }}  
  sqlDbName: eshop.Db
  employeeOAuthIssuer: 'https://employee-portal-gateway-${{ vars.SUFFIX }}.azurewebsites.net/authorize'
  employeeOAuthMetadataEndpoint: 'https://employee-portal-gateway-${{ vars.SUFFIX }}.azurewebsites.net/authorize/.well-known/openid-configuration'
  employeeOAuthAudience: ''
  
  templateFileName: main-docker.bicep
  resourceGroupName: eshop-docker-deployment
  location: westeurope

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:     
    - uses: actions/checkout@v4
    
    - name: Download workflow artifact
      uses: dawidd6/action-download-artifact@v3.1.2
      with:
        workflow: eshop-on-microservices-ci-docker.yml
        path: ./artifacts
        
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_RG_OWNER_CREDENTIALS }}          

    - name: Deploy Bicep Template
      uses: Azure/arm-deploy@v2
      id: deployBicep
      with:
        subscriptionId:  ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ env.resourceGroupName }}
        template: ./artifacts/Bicep/${{ env.templateFileName }}
        parameters: dbName=${{ env.sqlDbName }} catalogSqlServerName=${{ env.catalogSqlServerName }} clientsSqlServerName=${{ env.clientsSqlServerName }} employeesSqlServerName=${{ env.employeesSqlServerName }} employeeGatewayAppName=${{ env.employeeGatewayAppName }} clientGatewayAppName=${{ env.clientGatewayAppName }} catalogApiWebAppName=${{ env.catalogApiWebAppName }} clientAuthServerWebAppName=${{ env.clientAuthServerWebAppName }} employeeApiWebAppName=${{ env.employeeApiWebAppName }} employeeAuthServerWebAppName=${{ env.employeeAuthServerWebAppName }} clientPortalWebAppName=${{ env.clientPortalWebAppName }} employeePortalWebAppName=${{ env.employeePortalWebAppName }} storageAccountName=${{ env.storageAccountName }} sqlEntraIdAdminLogin=${{ secrets.AZURE_SP_APP_ID }} sqlEntraIdAdminObjectId=${{ secrets.AZURE_SP_OBJECT_ID }} sqlUserAssignedIdentity=${{ secrets.SQL_DIRECTORY_READER_UMI }} employeeOAuthIssuer=${{ env.employeeOAuthIssuer }} employeeOAuthMetadataEndpoint=${{ env.employeeOAuthMetadataEndpoint}} employeeOAuthAudience=${{ env.employeeOAuthAudience }} location=${{ env.location }}  suffix=${{ vars.SUFFIX }}
    
    - name: Clear Azure Cache
      run: az cache purge        
   
    - name: Add Catalog Api Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.catalogApiWebAppName }}
        appName: Catalog Api
        connectionString: 'Server=tcp:${{ env.catalogSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'
   
    - name: Add Employee Authorization Server Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.employeeAuthServerWebAppName }}
        appName: Employee Authorization Server
        connectionString: 'Server=tcp:${{ env.employeesSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'
    
    - name: Add Employee Api Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.employeeAuthServerWebAppName }}
        appName: Employee Api
        connectionString: 'Server=tcp:${{ env.employeesSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'

    - name: Add Client Authorization Server Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.clientAuthServerWebAppName }}
        appName: Client Auth Server
        connectionString: 'Server=tcp:${{ env.clientsSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'
