# ESHOP DEPLOYMENT PIPELINE 

on:
  workflow_dispatch:

name: Eshop CD

env:
  storageAccountName: storageacc${{ vars.SUFFIX }}
  eshopProxyConfigContainerName: eshopproxy
  eshopEmployeePortalProxyConfigContainerName: eshopemployeeportalproxy
  eshopProxyConfigurationFile: envoy-azure.yaml
  eshopEmployeePortalProxyConfigurationFile: envoy-employee-portal-azure.yaml
  eshopAppName: eshop-${{ vars.SUFFIX }}
  eshopEmployeePortalAppName: eshop-employee-portal-${{ vars.SUFFIX }}
  customerPortalStaticAppName: customer-portal-static-${{ vars.SUFFIX }}
  employeePortalStaticAppName: employee-portal-static-${{ vars.SUFFIX }}
  catalogApiWebAppName: catalog-api-web-app-${{ vars.SUFFIX }}
  customerAuthServerWebAppName: customer-authserver-web-app-${{ vars.SUFFIX }}
  employeeApiWebAppName: employee-api-web-app-${{ vars.SUFFIX }}
  employeeAuthServerWebAppName: employee-authserver-web-app-${{ vars.SUFFIX }}
  basketApiWebAppName: basket-api-web-app-${{ vars.SUFFIX }}
  orderingApiWebAppName: ordering-api-web-app-${{ vars.SUFFIX }}  
  paymentProcessorAppName: payment-processor-${{ vars.SUFFIX }}
  sagaProcessorAppName: saga-processor-${{ vars.SUFFIX }}
  employeeOAuthIssuer: https://eshop-employee-portal-${{ vars.SUFFIX }}.azurewebsites.net/authorize
  employeeOAuthMetadataEndpoint: https://eshop-employee-portal-${{ vars.SUFFIX }}.azurewebsites.net/authorize/.well-known/openid-configuration
  employeeOAuthAudience: ''

  resourceGroupName: eshop
  location: westeurope

jobs:
  deploy_infrastructure:
    runs-on: ubuntu-latest

    outputs:
      catalogApiWebAppName: ${{ env.catalogApiWebAppName }}
      customerAuthServerWebAppName: ${{ env.customerAuthServerWebAppName }}
      employeeApiWebAppName: ${{ env.employeeApiWebAppName }}
      employeeAuthServerWebAppName: ${{ env.employeeAuthServerWebAppName }}
      basketApiWebAppName: ${{ env.basketApiWebAppName }}
      orderingApiWebAppName: ${{ env.orderingApiWebAppName }}
      paymentProcessorAppName: ${{ env.paymentProcessorAppName }}
      sagaProcessorAppName: ${{ env.sagaProcessorAppName }}
      resourceGroupName: ${{ env.resourceGroupName }}
      
    steps:
    - name: Download workflow artifact
      uses: dawidd6/action-download-artifact@v3.1.2
      with:
        workflow: eshop-on-microservices-ci.yml
        path: ./artifacts
         
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}          
    
    - name: Deploy Infrastructure
      uses: Azure/arm-deploy@v2
      id: deployBicep
      with:
        subscriptionId:  ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ env.resourceGroupName }}
        template: ./artifacts/Bicep/main.bicep
        parameters: eshopEmployeePortalAppName="${{ env.eshopEmployeePortalAppName }}" eshopAppName="${{ env.eshopAppName }}" catalogApiWebAppName="${{ env.catalogApiWebAppName }}" customerAuthServerWebAppName="${{ env.customerAuthServerWebAppName }}" employeeApiWebAppName="${{ env.employeeApiWebAppName }}" employeeAuthServerWebAppName="${{ env.employeeAuthServerWebAppName }}" customerPortalStaticAppName="${{ env.customerPortalStaticAppName }}" employeePortalStaticAppName="${{ env.employeePortalStaticAppName }}" storageAccountName="${{ env.storageAccountName }}" employeeOAuthIssuer=${{ env.employeeOAuthIssuer }} employeeOAuthMetadataEndpoint=${{ env.employeeOAuthMetadataEndpoint}} employeeOAuthAudience=${{ env.employeeOAuthAudience }} location=${{ env.location }} suffix=${{ vars.SUFFIX }}
    
    - name: Retrieve Customer Portal DNS Name
      run: |
        staticAppDNSNames='${{ steps.deployBicep.outputs.staticAppDNSNames }}'
        echo "customerPortalStaticAppDomainName="$(echo $staticAppDNSNames | jq -r '.customerPortalStatic')>> $GITHUB_ENV
        
    - name: Retrieve Employee Portal DNS Name
      run: |
        staticAppDNSNames='${{ steps.deployBicep.outputs.staticAppDNSNames }}'
        echo "employeePortalDNSName="$(echo $staticAppDNSNames | jq -r '.employeePortalStatic')>> $GITHUB_ENV
        
    - name: Replace Eshop Web App Tokens
      run: (Get-Content './artifacts/Envoy/${{ env.eshopProxyConfigurationFile }}' -Encoding utf8) `
          -replace '__customerPortalStaticAppDomainName__', '${{ env.customerPortalStaticAppDomainName }}' `
          -replace '__catalogApiWebAppName__', '${{ env.catalogApiWebAppName }}' `
          -replace '__customerAuthServerWebAppName__', '${{ env.customerAuthServerWebAppName }}' `
          -replace '__basketApiWebAppName__', '${{ env.basketApiWebAppName }}' `
          -replace '__orderingApiWebAppName__', '${{ env.orderingApiWebAppName }}' `
        | Set-Content '${{ env.eshopProxyConfigurationFile }}'
      shell: pwsh
      
    - name: Eshop Web App Config Display
      run: cat '${{ env.eshopProxyConfigurationFile }}'
    
    - name: Replace Eshop Employee Portal Web App Tokens
      run: (Get-Content './artifacts/Envoy/${{ env.eshopEmployeePortalProxyConfigurationFile }}' -Encoding utf8) `
          -replace '__employeePortalStaticAppDomainName__', '${{ env.employeePortalDNSName }}' `
          -replace '__catalogApiWebAppName__', '${{ env.catalogApiWebAppName }}' `
          -replace '__employeeApiWebAppName__', '${{ env.employeeApiWebAppName }}' `
          -replace '__employeeAuthServerWebAppName__', '${{ env.employeeAuthServerWebAppName }}' `
        | Set-Content '${{ env.eshopEmployeePortalProxyConfigurationFile }}'
      shell: pwsh
    
    - name: Eshop Employee Portal Web App Config Display
      run: cat '${{ env.eshopEmployeePortalProxyConfigurationFile }}'
      
    - name: Clear Azure Cache
      run: az cache purge
      
    - name: Get Storage Account Key
      uses: Azure/cli@v1.0.9
      id: accountKey
      with:
        inlineScript: |
          val=$(az storage account keys list --account-name ${{ env.storageAccountName }} --query '[0].value')
          echo "::add-mask::$val"
          echo "storageAccountKey="$val >> $GITHUB_ENV
    
    - name: Upload Eshop Proxy Configuration To Storage Account
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: az storage blob upload --account-name ${{ env.storageAccountName }} --account-key ${{ env.storageAccountKey }} --container-name ${{ env.eshopProxyConfigContainerName }} --name envoy.yaml --file '${{ env.eshopProxyConfigurationFile }}' --overwrite
      
    - name: Upload Eshop Employee Portal Proxy Configuration To Storage Account
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: az storage blob upload --account-name ${{ env.storageAccountName }} --account-key ${{ env.storageAccountKey }} --container-name ${{ env.eshopEmployeePortalProxyConfigContainerName }} --name envoy.yaml --file '${{ env.eshopEmployeePortalProxyConfigurationFile }}' --overwrite

  deploy_catalog_api:
    needs: deploy_infrastructure
    uses: ./.github/workflows/webapp-cd-template.yml
    with:
      serviceName: Catalog Api
      webAppName: ${{ needs.deploy_infrastructure.outputs.catalogApiWebAppName }}
      resourceGroupName: ${{ needs.deploy_infrastructure.outputs.resourceGroupName }} 
      artifactFolderPath: CatalogApi
      healthCheckUri: https://${{ needs.deploy_infrastructure.outputs.catalogApiWebAppName }}.azurewebsites.net/hc
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION }}
    
  deploy_employeemanagement_api:
    needs: deploy_infrastructure
    uses: ./.github/workflows/webapp-cd-template.yml
    with:
      serviceName: EmployeeManagement Api
      webAppName: ${{ needs.deploy_infrastructure.outputs.employeeApiWebAppName }}
      resourceGroupName: ${{ needs.deploy_infrastructure.outputs.resourceGroupName }} 
      artifactFolderPath: EmployeeManagementApi
      healthCheckUri: https://${{ needs.deploy_infrastructure.outputs.employeeApiWebAppName }}.azurewebsites.net/hc
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION }}
    
  deploy_employeemanagement_authserver:
    needs: [ deploy_infrastructure, deploy_employeemanagement_api]
    uses: ./.github/workflows/webapp-cd-template.yml
    with:
      serviceName: EmployeeManagement Authorization Server
      webAppName: ${{ needs.deploy_infrastructure.outputs.employeeAuthServerWebAppName }}
      resourceGroupName: ${{ needs.deploy_infrastructure.outputs.resourceGroupName }} 
      artifactFolderPath: EmployeeManagementAuthorizationServer
      healthCheckUri: https://${{ needs.deploy_infrastructure.outputs.employeeAuthServerWebAppName }}.azurewebsites.net/hc
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION }}
      
  deploy_customer_authserver:
    needs: deploy_infrastructure
    uses: ./.github/workflows/webapp-cd-template.yml
    with:
      serviceName: Customer Authorization Server
      webAppName: ${{ needs.deploy_infrastructure.outputs.customerAuthServerWebAppName }}
      resourceGroupName: ${{ needs.deploy_infrastructure.outputs.resourceGroupName }} 
      artifactFolderPath: CustomerAuthorizationServer
      healthCheckUri: https://${{ needs.deploy_infrastructure.outputs.customerAuthServerWebAppName }}.azurewebsites.net/hc
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION }}
      
  deploy_basket_api:
    needs: deploy_infrastructure
    uses: ./.github/workflows/webapp-cd-template.yml
    with:
      serviceName: Basket Api
      webAppName: ${{ needs.deploy_infrastructure.outputs.basketApiWebAppName }}
      resourceGroupName: ${{ needs.deploy_infrastructure.outputs.resourceGroupName }} 
      artifactFolderPath: BasketApi
      healthCheckUri: https://${{ needs.deploy_infrastructure.outputs.basketApiWebAppName }}.azurewebsites.net/hc
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION }}
      
  deploy_ordering_api:
    needs: deploy_infrastructure
    uses: ./.github/workflows/webapp-cd-template.yml
    with:
      serviceName: Ordering Api
      webAppName: ${{ needs.deploy_infrastructure.outputs.orderingApiWebAppName }}
      resourceGroupName: ${{ needs.deploy_infrastructure.outputs.resourceGroupName }} 
      artifactFolderPath: OrderingApi
      healthCheckUri: https://${{ needs.deploy_infrastructure.outputs.orderingApiWebAppName }}.azurewebsites.net/hc
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION }}
      
  deploy_payment_processor:
    needs: deploy_infrastructure
    uses: ./.github/workflows/webapp-cd-template.yml
    with:
      serviceName: Payment Processor
      webAppName: ${{ needs.deploy_infrastructure.outputs.paymentProcessorAppName }}
      resourceGroupName: ${{ needs.deploy_infrastructure.outputs.resourceGroupName }} 
      artifactFolderPath: PaymentProcessor
      healthCheckUri: https://${{ needs.deploy_infrastructure.outputs.paymentProcessorAppName }}.azurewebsites.net/hc
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION }}
      
  deploy_saga_processor:
    needs: deploy_infrastructure
    uses: ./.github/workflows/webapp-cd-template.yml
    with:
      serviceName: Saga Processor
      webAppName: ${{ needs.deploy_infrastructure.outputs.sagaProcessorAppName }}
      resourceGroupName: ${{ needs.deploy_infrastructure.outputs.resourceGroupName }} 
      artifactFolderPath: SagaProcessor
      healthCheckUri: https://${{ needs.deploy_infrastructure.outputs.sagaProcessorAppName }}.azurewebsites.net/hc
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION }}

  deploy_static_apps:
    needs: deploy_infrastructure
    runs-on: ubuntu-latest

    steps:      
    - name: Download workflow artifact
      uses: dawidd6/action-download-artifact@v3.1.2
      with:
        workflow: eshop-on-microservices-ci.yml
        path: ./artifacts
        
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}    
        
    - name: Get Customer Portal Deployment Key
      uses: Azure/cli@v1.0.9
      id: customerPortalApiKey
      with:
        inlineScript: |
          val=$(az staticwebapp secrets list --n ${{ env.customerPortalStaticAppName }}  --resource-group ${{ env.resourceGroupName }} --subscription ${{ secrets.AZURE_SUBSCRIPTION }} --query "properties.apiKey" -otsv)
          echo "::add-mask::$val"
          echo "apiKey="$val >> $GITHUB_OUTPUT
    
    - name: Deploy Customer Portal Static Web App
      uses: Azure/static-web-apps-deploy@v1
      with:
        action: "upload"
        app_location: ./artifacts/CustomerPortal
        azure_static_web_apps_api_token: ${{ steps.customerPortalApiKey.outputs.apiKey }}          
        
    - name: Get Employee Portal Deployment Key
      uses: Azure/cli@v1.0.9
      id: employeePortalApiKey
      with:
        inlineScript: |
          val=$(az staticwebapp secrets list --n ${{ env.employeePortalStaticAppName }}  --resource-group ${{ env.resourceGroupName }} --subscription ${{ secrets.AZURE_SUBSCRIPTION }} --query "properties.apiKey" -otsv)
          echo "::add-mask::$val"
          echo "apiKey="$val >> $GITHUB_OUTPUT
    
    - name: Deploy Employee Portal Static Web App
      uses: Azure/static-web-apps-deploy@v1
      with:
        action: "upload"
        app_location: ./artifacts/EmployeePortal
        azure_static_web_apps_api_token: ${{ steps.employeePortalApiKey.outputs.apiKey }}

    
  apps_check:
    needs: [ deploy_catalog_api, deploy_employeemanagement_authserver, deploy_customer_authserver, deploy_static_apps, deploy_basket_api, deploy_ordering_api, deploy_payment_processor, deploy_saga_processor]
    runs-on: ubuntu-latest

    steps:
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}    
        
    - name: Restrart Eshop Web App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: az webapp restart --name ${{ env.eshopAppName }} --resource-group ${{ env.resourceGroupName }}          
    
    - name: Restrart Eshop Employee Portal Web App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: az webapp restart --name ${{ env.eshopEmployeePortalAppName }} --resource-group ${{ env.resourceGroupName }}
        
    - name: Check Eshop Employee Web App
      run: Invoke-WebRequest -UseBasicParsing https://${{ env.eshopEmployeePortalAppName }}.azurewebsites.net -TimeoutSec 300
      shell: pwsh
      
    - name: Check Eshop Web App
      run: Invoke-WebRequest -UseBasicParsing https://${{ env.eshopAppName }}.azurewebsites.net -TimeoutSec 300
      shell: pwsh      
