# ESHOP RELEASE PIPELINE (Update Docker Image References)

name: Eshop CD Docker

on:
  workflow_dispatch:
  
env:
  storageAccountName: storageacc${{ vars.SUFFIX }}
  eshopProxyConfigFileShareName: eshopproxy
  eshopEmployeePortalProxyConfigFileShareName: eshopemployeeportalproxy
  eshopProxyConfigurationFile: envoy-azure-docker.yaml
  eshopEmployeePortalProxyConfigurationFile: envoy-employee-portal-azure-docker.yaml
  eshopAppName: eshop-${{ vars.SUFFIX }}
  eshopEmployeePortalAppName: eshop-employee-portal-${{ vars.SUFFIX }}
  customerPortalContainerAppName: customer-portal-static-${{ vars.SUFFIX }}
  employeePortalContainerAppName: employee-portal-static-${{ vars.SUFFIX }}
  catalogApiContainerAppName: catalog-api-${{ vars.SUFFIX }}
  customerAuthServerContainerAppName: customer-authserver-${{ vars.SUFFIX }}
  employeeApiContainerAppName: employee-api-${{ vars.SUFFIX }}
  employeeAuthServerContainerAppName: employee-authserver-${{ vars.SUFFIX }}
  basketApiContainerAppName: basket-api-${{ vars.SUFFIX }}
  orderingApiContainerAppName: ordering-api-${{ vars.SUFFIX }}
  paymentProcessorContainerAppName: payment-processor-${{ vars.SUFFIX }}
  sagaProcessorContainerAppName: saga-processor-${{ vars.SUFFIX }}  
  catalogApiRepositoryName: eshop.catalog.api
  employeeApiRepositoryName: eshop.employeemanagement.api
  employeeAuthServerRepositoryName: eshop.employeemanagement.authorizationserver
  customerAuthServerRepositoryName: eshop.customer.authorizationserver
  employeePortalRepositoryName: eshop.ui.employeeportal
  customerPortalRepositoryName: eshop.ui.customerportal
  basketApiRepositoryName: eshop.basket.api
  orderingApiRepositoryName: eshop.ordering.api
  paymentProcessorRepositoryName: eshop.payment.processor
  sagaProcessorRepositoryName: eshop.saga.processor
  registryServer: index.docker.io
  resourceGroupName: eshop-docker
  location: centralus

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Download workflow artifact
      uses: dawidd6/action-download-artifact@v3.1.2
      id: downloadArtifacts
      with:
        workflow: eshop-on-microservices-ci-docker.yml 
        path: ./artifacts
        
    - name: Retrieve Web App Docker Tag
      id: imageTag
      run: |
        artifacts='${{ steps.downloadArtifacts.outputs.artifacts }}'
        echo "dockerImageTag="run_id-$(echo $artifacts | jq -r '.[0].workflow_run.id')>> $GITHUB_ENV
    
    - name: Replace Eshop Web App Tokens
      run: (Get-Content './artifacts/Envoy/${{ env.eshopProxyConfigurationFile }}' -Encoding utf8) `
          -replace '__customerPortalContainerAppName__', '${{ env.customerPortalContainerAppName }}' `
          -replace '__catalogApiContainerAppName__', '${{ env.catalogApiContainerAppName }}' `
          -replace '__customerAuthServerContainerAppName__', '${{ env.customerAuthServerContainerAppName }}' `
          -replace '__basketApiContainerAppName__', '${{ env.basketApiContainerAppName }}' `
          -replace '__orderingApiContainerAppName__', '${{ env.orderingApiContainerAppName }}' `
        | Set-Content '${{ env.eshopProxyConfigurationFile }}'
      shell: pwsh
      
    - name: Eshop Web App Config Display
      run: cat '${{ env.eshopProxyConfigurationFile }}'
    
    - name: Replace Eshop Employee Portal Web App Tokens
      run: (Get-Content './artifacts/Envoy/${{ env.eshopEmployeePortalProxyConfigurationFile }}' -Encoding utf8) `
          -replace '__employeePortalContainerAppName__', '${{ env.employeePortalContainerAppName }}' `
          -replace '__catalogApiContainerAppName__', '${{ env.catalogApiContainerAppName }}' `
          -replace '__employeeApiContainerAppName__', '${{ env.employeeApiContainerAppName }}' `
          -replace '__employeeAuthServerContainerAppName__', '${{ env.employeeAuthServerContainerAppName }}' `
        | Set-Content '${{ env.eshopEmployeePortalProxyConfigurationFile }}'
      shell: pwsh
      
    - name: Eshop Employee Portal Web App Config Display
      run: cat '${{ env.eshopEmployeePortalProxyConfigurationFile }}'        
         
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}    
        
    - name: Clear Azure Cache
      run: az cache purge
      
    - name: Get Storage Account Key
      uses: Azure/cli@v1.0.9
      id: accountKey
      with:
        inlineScript: |
          val=$(az storage account keys list --account-name ${{ env.storageAccountName }} --query '[0].value')
          echo "::add-mask::$val"
          echo "storageAccountKey="$val >> $GITHUB_ENV
    
    - name: Upload Eshop Proxy Configuration To Storage Account
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: az storage file upload --account-name ${{ env.storageAccountName }} --account-key ${{ env.storageAccountKey }} --share-name ${{ env.eshopProxyConfigFileShareName }} --path envoy.yaml --source '${{ env.eshopProxyConfigurationFile }}'
      
    - name: Upload Eshop Employee Portal Proxy Configuration To Storage Account
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: az storage file upload --account-name ${{ env.storageAccountName }} --account-key ${{ env.storageAccountKey }} --share-name ${{ env.eshopEmployeePortalProxyConfigFileShareName }} --path envoy.yaml --source '${{ env.eshopEmployeePortalProxyConfigurationFile }}'
      
    - name: Deploy Catalog Api Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.catalogApiContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.catalogApiRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}

    - name: Deploy Employee Api Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.employeeApiContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.employeeApiRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}

    - name: Deploy Employee Authorization Server Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.employeeAuthServerContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.employeeAuthServerRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}

    - name: Deploy Customer Authorization Server Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.customerAuthServerContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.customerAuthServerRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}

    - name: Deploy Employee Portal Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.employeePortalContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.employeePortalRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}
   
    - name: Deploy Customer Portal Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.customerPortalContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.customerPortalRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}

    - name: Deploy Basket Api Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.basketApiContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.basketApiRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}

    - name: Deploy Ordering Api Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.orderingApiContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.orderingApiRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}

    - name: Deploy Payment Processor Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.paymentProcessorContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.paymentProcessorRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}
    
    - name: Deploy Saga Processor Container App
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          az containerapp update -n ${{ env.sagaProcessorContainerAppName }} -g ${{ env.resourceGroupName }} -i ${{ env.registryServer }}/${{ vars.DOCKERHUB_USERNAME }}/${{ env.sagaProcessorRepositoryName }}:${{env.dockerImageTag}} --revision-suffix ${{github.run_id}}
    
         
  health_check_eshop:
    needs: deploy
    runs-on: ubuntu-latest
    
    steps:
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}  

    - name: Get Application FQDN
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          FQDN=$(az containerapp show --name ${{ env.eshopAppName }} --resource-group ${{ env.resourceGroupName }} --query properties.configuration.ingress.fqdn -otsv)
          echo "eshopAppFQDN="$FQDN >> $GITHUB_ENV
              
    - name: Get Application FQDN
      uses: Azure/cli@v1.0.9
      with:
        inlineScript: |
          FQDN=$(az containerapp show --name ${{ env.eshopEmployeePortalAppName }} --resource-group ${{ env.resourceGroupName }} --query properties.configuration.ingress.fqdn -otsv)
          echo "eshopEmployeePortalAppFQDN="$FQDN >> $GITHUB_ENV
    
    - name: Check Eshop App
      run: Invoke-WebRequest -UseBasicParsing https://${{ env.eshopAppFQDN }}/ -TimeoutSec 300
      shell: pwsh   

    - name: Check Eshop Employee Portal App
      run: Invoke-WebRequest -UseBasicParsing https://${{ env.eshopEmployeePortalAppFQDN }}/ -TimeoutSec 300
      shell: pwsh   
