name:  Eshop CD Docker Infrastructure

on:
  workflow_dispatch:
  
env:
  storageAccountName: storageacc${{ vars.SUFFIX }}
  eshopProxyConfigFileShareName: eshopproxy
  eshopEmployeePortalProxyConfigFileShareName: eshopemployeeportalproxy
  eshopAppName: eshop-${{ vars.SUFFIX }}
  eshopEmployeePortalAppName: eshop-employee-portal-${{ vars.SUFFIX }}
  customerPortalContainerAppName: customer-portal-static-${{ vars.SUFFIX }}
  employeePortalContainerAppName: employee-portal-static-${{ vars.SUFFIX }}
  catalogApiContainerAppName: catalog-api-${{ vars.SUFFIX }}
  customerAuthServerContainerAppName: customer-authserver-${{ vars.SUFFIX }}
  employeeApiContainerAppName: employee-api-${{ vars.SUFFIX }}
  employeeAuthServerContainerAppName: employee-authserver-${{ vars.SUFFIX }}
  basketApiContainerAppName: basket-api-${{ vars.SUFFIX }}
  orderingApiContainerAppName: ordering-api-${{ vars.SUFFIX }}
  paymentProcessorContainerAppName: payment-processor-${{ vars.SUFFIX }}
  sagaProcessorContainerAppName: saga-processor-${{ vars.SUFFIX }}
  catalogSqlServerName: catalog-sqlserver-${{ vars.SUFFIX }}
  employeeSqlServerName: employee-sqlserver-${{ vars.SUFFIX }}
  customerSqlServerName: customer-sqlserver-${{ vars.SUFFIX }}  
  orderingSqlServerName: ordering-sqlserver-${{ vars.SUFFIX }}  
  sagaSqlServerName: saga-sqlserver-${{ vars.SUFFIX }} 
  sqlDbName: eshop.Db
  employeeOAuthIssuer: ''
  employeeOAuthMetadataEndpoint: ''
  employeeOAuthAudience: ''
  registryServer: 'index.docker.io'
  templateFileName: main-docker.bicep
  resourceGroupName: eshop-docker
  location: centralus

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:     
    - uses: actions/checkout@v4
    
    - name: Download workflow artifact
      uses: dawidd6/action-download-artifact@v3.1.2
      with:
        workflow: eshop-on-microservices-ci-docker.yml
        path: ./artifacts
        
    - name: Azure Login
      uses: Azure/login@v1.6.1
      with:
        creds: ${{ secrets.AZURE_INFRASTRUCTURE_DEPLOYMENT_CREDENTIALS }}          

    - name: Deploy Infrastructure
      uses: Azure/arm-deploy@v2
      id: deployBicep
      with:
        subscriptionId:  ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ env.resourceGroupName }}
        template: ./artifacts/Bicep/${{ env.templateFileName }}
        parameters: dbName=${{ env.sqlDbName }} catalogSqlServerName=${{ env.catalogSqlServerName }} customerSqlServerName=${{ env.customerSqlServerName }} employeeSqlServerName=${{ env.employeeSqlServerName }} orderingSqlServerName=${{ env.orderingSqlServerName }} sagaSqlServerName=${{ env.sagaSqlServerName }} eshopEmployeePortalAppName=${{ env.eshopEmployeePortalAppName }} eshopAppName=${{ env.eshopAppName }} customerPortalContainerAppName=${{ env.customerPortalContainerAppName }} employeePortalContainerAppName=${{ env.employeePortalContainerAppName }} catalogApiContainerAppName=${{ env.catalogApiContainerAppName }} customerAuthServerContainerAppName=${{ env.customerAuthServerContainerAppName }} employeeApiContainerAppName=${{ env.employeeApiContainerAppName }} employeeAuthServerContainerAppName=${{ env.employeeAuthServerContainerAppName }} basketApiContainerAppName=${{ env.basketApiContainerAppName }} orderingApiContainerAppName=${{ env.orderingApiContainerAppName }} paymentProcessorContainerAppName=${{ env.paymentProcessorContainerAppName }} sagaProcessorContainerAppName=${{ env.sagaProcessorContainerAppName }} storageAccountName=${{ env.storageAccountName }} sqlEntraIdAdminLogin=${{ secrets.AZURE_SP_APP_ID }} sqlEntraIdAdminObjectId=${{ secrets.AZURE_SP_OBJECT_ID }} sqlUserAssignedIdentity=${{ secrets.SQL_DIRECTORY_READER_UMI }} employeeOAuthIssuer=${{ env.employeeOAuthIssuer }} employeeOAuthMetadataEndpoint=${{ env.employeeOAuthMetadataEndpoint}} employeeOAuthAudience=${{ env.employeeOAuthAudience }}  registryServer=${{ env.registryServer }} registryUserName=${{ vars.DOCKERHUB_USERNAME }} registryPassword=${{ secrets.DOCKERHUB_TOKEN }} revisionSuffix=${{github.run_id}} location=${{ env.location }}  suffix=${{ vars.SUFFIX }}
    
    - name: Clear Azure Cache
      run: az cache purge        
   
    - name: Add Catalog Api Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.catalogApiContainerAppName }}
        appName: Catalog Api
        connectionString: 'Server=tcp:${{ env.catalogSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'
   
    - name: Add Employee Authorization Server Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.employeeAuthServerContainerAppName }}
        appName: Employee Authorization Server
        connectionString: 'Server=tcp:${{ env.employeeSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'
    
    - name: Add Employee Api Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.employeeApiContainerAppName }}
        appName: Employee Api
        connectionString: 'Server=tcp:${{ env.employeeSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'

    - name: Add Customer Authorization Server Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.customerAuthServerContainerAppName }}
        appName: Customer Auth Server
        connectionString: 'Server=tcp:${{ env.customerSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'

    - name: Add Ordering Api Server Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.orderingApiContainerAppName }}
        appName: Customer Auth Server
        connectionString: 'Server=tcp:${{ env.orderingSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'

    - name: Add Saga Processor Server Sql User
      uses: ./.github/workflows/actions/create-sql-user
      with:
        userName: ${{ env.sagaProcessorContainerAppName }}
        appName: Customer Auth Server
        connectionString: 'Server=tcp:${{ env.sagaSqlServerName }}.database.windows.net,1433;Initial Catalog=${{ env.sqlDbName }};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";'
